<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>UrbanEscapes</title>
    <style>
        .mainlistcontainer{
            width:90%;
            margin: auto;
            margin-top: 0;
            display: flex;
            flex-direction: column;
        }
        .listcontainer{
            height:100%;
            width:100%;
            gap:15vh;
            border-radius: 20px;
            object-fit: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            /* align-content: space-around; */
            flex-shrink: 0;            
            margin-top: 20px;
            /* background-color: #ffedd8; */
            /* background: linear-gradient(33deg, rgb(216, 245, 251) 35.56%, rgb(251, 165, 116) 84.47%); */
            background: linear-gradient(33deg, rgb(216, 245, 251) 35.56%, rgb(251, 165, 116) 89.21%);   
            padding-top: 4vh;
        }
        img{
            height:330px;
            width:330px;
            border-radius: 20px;
        }

        .overlay{
            display: block;
            height:330px;
            width:330px;
            position: absolute;
            border-radius: 20px;
            background-color:rgba(93, 92, 92,0);
            color:transparent;
        }
        .overlay:hover{
            background-color:rgba(93, 92, 92,0.5);
            transition: .5s ease;
            color:white;
        }
        h6{
            margin: 2vh;
        }
    </style>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="mainlistcontainer">
        <%- include("./partials/nav2.ejs") %>
        <% if (locals.lists) { %>
            <div class="listcontainer">
                <% lists.forEach(list => { %>
                    <div class="cardContainer" style="display: flex; width=60vw; flex-direction: column;">
                        <a href="/listing/<%= list._id %>"><div class="overlay"><h6>View Listing</h6></div></a>
                        <img src="<%=  list.image.url %>" class="img">
                        <h5 style="margin: 1vh; margin-bottom: 0.2vh;"><%= list.title %></h5>
                        <p style="margin-left: 1vh ;">₹<%= list.price %></p>
                    </div>
                    <% }) %>
            </div>
        <% } %>
    </div>
    <%- include("./partials/script.ejs") %>
</body>
</html>

